In [1]:
# 필요 모듈 설치
!pip install xlsxwriter

# 필요 모듈 불러오기 
import xlsxwriter
import pandas as pd

Requirement already satisfied: xlsxwriter in ./.pyenv/versions/3.10.11/lib/python3.10/site-packages (3.1.9)

In [2]:
data = pd.read_csv('./Desktop/서울시 상권분석서비스(점포-행정동) 2.csv', encoding='euc_kr')

In [3]:
# 엑셀로 저장
data.to_excel('서울시_점포.xlsx', index=False, engine='xlsxwriter')

In [3]:
data.head()

,기준_년분기_코드,행정동_코드,행정동_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,20221,11110515,청운효자동,CS100001,한식음식점,92,93,2,2,3,3,1
1,20221,11110515,청운효자동,CS100002,중식음식점,3,3,0,0,0,0,0
2,20221,11110515,청운효자동,CS100003,일식음식점,12,12,8,1,0,0,0
3,20221,11110515,청운효자동,CS100004,양식음식점,46,46,0,0,2,1,0
4,20221,11110515,청운효자동,CS100005,제과점,22,23,13,3,0,0,1

In [7]:
data[data['행정동_코드_명']=='미아동']

,기준_년분기_코드,행정동_코드,행정동_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,20221,11110515,미아동,CS100001,한식음식점,92,93,2,2,3,3,1
1,20221,11110515,미아동,CS100002,중식음식점,3,3,0,0,0,0,0
2,20221,11110515,미아동,CS100003,일식음식점,12,12,8,1,0,0,0
3,20221,11110515,미아동,CS100004,양식음식점,46,46,0,0,2,1,0
4,20221,11110515,미아동,CS100005,제과점,22,23,13,3,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
247237,20233,11740700,미아동,CS300038,자동차부품,6,7,0,0,0,0,1
247238,20233,11740700,미아동,CS300039,모터사이클및부품,3,3,0,0,0,0,0
247239,20233,11740700,미아동,CS300041,예술품,2,2,0,0,0,0,0
247240,20233,11740700,미아동,CS300042,주유소,5,5,0,0,0,0,0
247241,20233,11740700,미아동,CS300043,전자상거래업,99,99,0,0,1,1,0